@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
}
img {
  max-width: 100%;
  height: auto;
}
.section-padding {
  padding: 80px 0;
}

.section-heading {
  text-align: center;
  margin-bottom: 60px;
}

.section-heading h2 {
  font-weight: 600;
  margin-bottom: 1rem;
}
.single-service-box {
  border: 1px solid #ededed;
  text-align: center;
}
.service-box-bg {
  background: #dddd;
  height: 200px;
  position: relative;
}
.service-box-bg h2 {
  background: #f97230;
  color: #fff;
  padding: 15px;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 600;
  position: absolute;
  left: 8%;
  width: 84%;
  margin: 0;
  bottom: -25px;
}
.service-content {
  margin-top: 40px;
  padding: 15px;
}
.service-content p {
  margin-bottom: 0;
  line-height: 2;
}
a.service-readmore-btn {
  color: #292929;
  font-weight: 600;
  display: inline-block;
  padding: 10px;
  margin-bottom: 15px;
  text-decoration: none;
}
a.service-readmore-btn i {
  margin-left: 10px;
  font-weight: 600;
}
